.section-categories {
  padding: 0 2rem;
  margin-bottom: 10rem;
}
.categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: var(--color--white);
  gap: 2rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.categories-box {
  background-color: var(--color--blue--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border--redius);
  cursor: pointer;
}
.categories-box p {
  font-size: 1.5rem;
  padding: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}
.categories-box img {
  width: 100%;
  border-radius: var(--border--redius);
}
// --------------------------CTA ----------------------------------
.cta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 100vh;
  margin-top: 8rem;
  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
  }
}
.cta::after {
  content: "";
  width: 70%;
  height: 80%;
  top: 50%;
  border-radius: var(--border--redius);
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/assets/images/cta-bg.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  background-size: cover;

  @media only screen and (max-width: $bp-large) {
    display: none;
  }
}
.cta__left {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding: 8rem;
  max-width: 40rem;
  justify-content: center;
  align-items: flex-start;
  border-radius: var(--border--redius);
  @media only screen and (max-width: $bp-large) {
    max-width: 60rem;
    padding: 4rem;
  }
}
.cta__right {
  background-color: #f7f7f7;
  display: flex;

  flex-direction: column;
  padding: 4.5rem;
  max-width: 40rem;

  justify-content: center;
  align-items: flex-start;
  border-radius: var(--border--redius);

  @media only screen and (max-width: $bp-large) {
    max-width: 60rem;
    padding: 4rem;
  }
}

.shop__heading span {
  color: var(--color--blue--dark);
}
.cta-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4a4a4a;
  margin: 5rem 0;
}
.cta-btn {
  // padding: 1.5rem 2.5rem;
  border: none;
  outline: none;
  background-color: var(--color--orange--dark);
  border-radius: var(--border--redius);
  font-weight: 700;
  font-size: 1.3rem;
  width: 22rem;
  height: 5rem;
  color: var(--color--white);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color--blue--dark);
  }
}
.cta-form {
  display: flex;
  justify-content: space-between;
  border-radius: var(--border--redius);
  background-color: var(--color--white);
  margin-top: 3rem;
}
.cta-form input {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: var(--border--redius);
  width: 50%;
  padding-left: 2rem;
  font-size: 1.5rem;
}
