.section__hero {
  background-image: url(../assets/images/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 22.5rem;
  border-radius: 0 0 15rem 15rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.nav__list {
  list-style: none;
}
.home {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav__link {
  color: var(--color--white);
  text-decoration: none;

  font-size: 1.5rem;
  padding: 0.9rem 1.7rem;
  border-radius: 2rem;
  z-index: 11;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.active__link {
  background-color: var(--color--orange--dark);
}
.header__text__box {
  color: var(--color--white);
  width: 50%;
  // align-self: baseline;
}
.header__text__box .heading {
  font-size: 2rem;
  text-transform: uppercase;
}
.header__text__box .header__primary {
  font-size: 4.8rem;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 2rem;
  position: relative;
}
.header__text__box .header__primary span {
  display: block;
}
.header__text__box .header__text {
  font-size: 1.4rem;
  margin-bottom: 7rem;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6rem;
}
.caption-dec {
  display: block;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.right-img {
  position: relative;
}
.game-img {
  width: 90%;
  border-radius: var(--border--redius);
}
.price {
  position: absolute;
  right: 6rem;
  top: 2rem;
  border-radius: var(--border--redius);
  padding: 0.4rem 1.5rem;
  background-color: var(--color--blue);
  font-size: 2.2rem;
  color: var(--color--white);
  font-weight: 600;
}
.offer {
  position: absolute;
  color: var(--color--white);
  background-color: var(--color--orange--dark);
  font-size: 2.8rem;
  font-weight: 600;
  width: 10rem;
  height: 10rem;
  display: inline-block;
  text-align: center;
  line-height: 10rem;
  border-radius: 50%;
  left: -2.5rem;
  bottom: -2.5rem;
}
.btn__box {
  display: flex;
  background-color: var(--color--white);
  border-radius: var(--border--redius);
  width: 80%;
}
.btn__box .input {
  width: 100%;
  border-radius: var(--border--redius);
  border: none;
  outline: none;
  font-size: 1.6rem;
  background-color: transparent;
  padding-left: 2rem;
}
.btn__box .btn {
  padding: 0.9rem 4rem;
  border: none;
  outline: none;
  background-color: var(--color--orange--dark);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color--white);
  border-radius: var(--border--redius);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: var(--color--blue--dark);
  }
}

// --------------------------FEATURE---------------------------
.feature {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: -9rem;
  margin-bottom: 9rem;
}
.feature_box {
  background-color: var(--color--white);
  padding: 3.5rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: var(--border--redius);
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.feature_box:hover .feature-img {
  background-color: var(--color--orange--dark);
}
.feature_box h2 {
  font-size: 1.7rem;
  margin-top: 2.5rem;
}
.feature__icon {
  width: 4rem;
  height: 4rem;
}
.feature-img {
  width: 9rem;
  height: 9rem;
  background-color: var(--color--blue--dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
