.most-play {
  background-color: #eeee;
  padding: 10rem 2rem;
  border-radius: 15rem;
  margin-bottom: 10rem;
}
.most-play-game {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }
}
.center {
  text-align: center;
}
.most-play-game-box {
  background-color: var(--color--white);
  border-radius: var(--border--redius);
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.most-play-game-box:hover .most-play-btn {
  background-color: var(--color--blue--dark);
}
.most-play-game-box:hover .shopping-heading {
  color: var(--color--blue--dark);
}
.most-play-game-box a img {
  border-radius: var(--border--redius);
  overflow: hidden;
  width: 100%;
}
.most-play-game-details {
  padding: 2.5rem;
}
.most-play-btn {
  background-color: var(--color--orange--dark);
  padding: 1.2rem 2.6rem;
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color--white);
  border: none;
  cursor: pointer;

  outline: none;
  border-radius: var(--border--redius);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  position: absolute;
  @media only screen and (max-width: $bp-largest) {
    text-align: center;
    transform: translate(-50%, 30%);
    bottom: 0%;
    left: 50%;
  }
}

.margin-bottom {
  margin-bottom: 2rem;
}
.margin-bottom-1 {
  margin-bottom: 5rem;
}
