//sticky nav bar
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--color--blue);
  z-index: 111;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 2rem 0 rgba(var(--color--blue), 0.8);
}
.mobile__nav-btn {
  display: none;
  cursor: pointer;
  // border: 1px solid #fff;
  color: #fff;
  z-index: 1222;
  border-radius: 1rem;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  // &:hover {
  //   transform: rotate(380deg);
  // }

  @media only screen and (max-width: $bp-small) {
    display: block;
  }
}

.mobile__nav-icon {
  height: 4.5rem;
  width: 4.5rem;
}
.mobile__nav-icon[name="close-outline"] {
  display: none;
}
.navigation {
  @media only screen and (max-width: $bp-small) {
    height: 40vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // padding: 0;
    display: flex;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-100%);
    justify-content: center;
    align-items: center;
    background-color: var(--color--blue);
    z-index: 12;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: $bp-small) {
  .nav .mobile__nav-btn .mobile__nav-icon[name="close-outline"] {
    display: block;
  }
  .nav .mobile__nav-btn .mobile__nav-icon[name="menu-outline"] {
    display: none;
  }
  .nav .navigation {
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
  }
}
