:root {
  --color--white: #fff;
  --color--orange--dark: #ee626b;
  --color--blue: #008af8;
  --color--blue--dark: #0071f8;
  --border--redius: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 40.63em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 30rem) {
  html {
    font-size: 42%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.section__hero {
  background-image: url(../assets/images/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 22.5rem;
  border-radius: 0 0 15rem 15rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem;
  position: relative;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
@media only screen and (max-width: 56.25em) {
  .nav__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.nav__list {
  list-style: none;
}

.home {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav__link {
  color: var(--color--white);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.9rem 1.7rem;
  border-radius: 2rem;
  z-index: 11;
  transition: all 0.3s ease-in-out;
}
.nav__link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.active__link {
  background-color: var(--color--orange--dark);
}

.header__text__box {
  color: var(--color--white);
  width: 50%;
}
@media only screen and (max-width: 62.5em) {
  .header__text__box {
    width: 100%;
  }
}

.header__text__box .heading {
  font-size: 2rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 62.5em) {
  .header__text__box .heading {
    text-align: center;
  }
}

.header__text__box .header__primary {
  font-size: 4.8rem;
  text-transform: uppercase;
  line-height: 1.2;
  margin-top: 2rem;
  position: relative;
}
@media only screen and (max-width: 62.5em) {
  .header__text__box .header__primary {
    text-align: center;
  }
}

.header__text__box .header__primary span {
  display: block;
}

.header__text__box .header__text {
  font-size: 1.4rem;
  margin-bottom: 7rem;
}
@media only screen and (max-width: 62.5em) {
  .header__text__box .header__text {
    text-align: center;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 2rem 0 2rem;
}
@media only screen and (max-width: 62.5em) {
  .banner {
    flex-direction: column;
    gap: 5rem;
  }
}

.caption-dec {
  display: block;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.right-img {
  position: relative;
}
@media only screen and (max-width: 62.5em) {
  .right-img {
    width: 100%;
  }
}

.game-img {
  width: 90%;
  border-radius: var(--border--redius);
}
@media only screen and (max-width: 62.5em) {
  .game-img {
    width: 100%;
  }
}

.price {
  position: absolute;
  right: 6rem;
  top: 2rem;
  border-radius: var(--border--redius);
  padding: 0.4rem 1.5rem;
  background-color: var(--color--blue);
  font-size: 2.2rem;
  color: var(--color--white);
  font-weight: 600;
}

.offer {
  position: absolute;
  color: var(--color--white);
  background-color: var(--color--orange--dark);
  font-size: 2.8rem;
  font-weight: 600;
  width: 10rem;
  height: 10rem;
  display: inline-block;
  text-align: center;
  line-height: 10rem;
  border-radius: 50%;
  left: -2.5rem;
  bottom: -2.5rem;
}

.btn__box {
  display: flex;
  background-color: var(--color--white);
  border-radius: var(--border--redius);
  width: 80%;
}
@media only screen and (max-width: 62.5em) {
  .btn__box {
    text-align: center;
    width: 100%;
  }
}

.btn__box .input {
  width: 100%;
  border-radius: var(--border--redius);
  border: none;
  outline: none;
  font-size: 1.6rem;
  background-color: transparent;
  padding-left: 2rem;
}

.btn__box .btn {
  padding: 0.9rem 4rem;
  border: none;
  outline: none;
  background-color: var(--color--orange--dark);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color--white);
  border-radius: var(--border--redius);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn__box .btn:hover {
  background-color: var(--color--blue--dark);
}

.feature {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin-top: -9rem;
  margin-bottom: 9rem;
  padding: 0 2rem;
}
@media only screen and (max-width: 56.25em) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 40.63em) {
  .feature {
    grid-template-columns: repeat(1, 1fr);
  }
}

.feature_box {
  background-color: var(--color--white);
  padding: 3.5rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: var(--border--redius);
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}

.feature_box:hover .feature-img {
  background-color: var(--color--orange--dark);
}

.feature_box h2 {
  font-size: 1.7rem;
  margin-top: 2.5rem;
}

.feature__icon {
  width: 4rem;
  height: 4rem;
}

.feature-img {
  width: 9rem;
  height: 9rem;
  background-color: var(--color--blue--dark);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 56.25em) {
  .logo {
    width: 30%;
    z-index: 999;
  }
}
.section__shop {
  margin: 16rem 0;
  padding: 0 2rem;
}

.shop__heading-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-heding-1 {
  font-size: 1.5rem;
  color: var(--color--orange--dark);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.shop__heading {
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.3;
}
@media only screen and (max-width: 40.63em) {
  .shop__heading {
    font-size: 3rem;
  }
}

.shop__btn {
  font-size: 1.4rem;
  padding: 1.5rem 3rem;
  color: var(--color--white);
  font-weight: 700;
  border-radius: var(--border--redius);
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  outline: none;
  transition: all 0.3s ease-in-out;
  background-color: var(--color--orange--dark);
}
.shop__btn:hover {
  background-color: var(--color--blue);
}

.tranding__img {
  position: relative;
}

.tranding__img a img {
  width: 100%;
  overflow: hidden;
  border-radius: var(--border--redius);
}

.tranding__img .price-1 {
  position: absolute;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-radius: 1rem;
  padding: 0.4rem 1.5rem;
  background-color: var(--color--blue);
  font-size: 1.7rem;
  color: var(--color--white);
  font-weight: 600;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.3rem;
  margin: 8rem 0;
}
@media only screen and (max-width: 56.25em) {
  .shop {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 40.63em) {
  .shop {
    grid-template-columns: repeat(1, 1fr);
  }
}

.shop__box {
  border-radius: var(--border--redius);
  background-color: rgba(238, 238, 238, 0.9333333333);
  transition: all 0.3s ease-in-out;
}

.shop__box:hover .shopping-heading {
  color: var(--color--blue);
}

.shop__box:hover .shopping {
  background-color: var(--color--blue);
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
}

.shopping {
  width: 4rem;
  height: 4rem;
  background-color: var(--color--orange--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}

.shopping-heading {
  font-size: 1.7rem;
  transition: all 0.3s ease-in-out;
}

.fa-bag-shopping {
  color: var(--color--white);
  font-size: 2rem;
}

.categry {
  font-size: 1.4rem;
  color: #7a7a7a;
}

.most-play {
  background-color: rgba(238, 238, 238, 0.9333333333);
  padding: 10rem 2rem;
  border-radius: 15rem;
  margin-bottom: 10rem;
}

.most-play-game {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
@media only screen and (max-width: 75em) {
  .most-play-game {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
@media only screen and (max-width: 40.63em) {
  .most-play-game {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }
}

.center {
  text-align: center;
}

.most-play-game-box {
  background-color: var(--color--white);
  border-radius: var(--border--redius);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.most-play-game-box:hover .most-play-btn {
  background-color: var(--color--blue--dark);
}

.most-play-game-box:hover .shopping-heading {
  color: var(--color--blue--dark);
}

.most-play-game-box a img {
  border-radius: var(--border--redius);
  overflow: hidden;
  width: 100%;
}

.most-play-game-details {
  padding: 2.5rem;
}

.most-play-btn {
  background-color: var(--color--orange--dark);
  padding: 1.2rem 2.6rem;
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--color--white);
  border: none;
  outline: none;
  border-radius: var(--border--redius);
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  position: absolute;
}
@media only screen and (max-width: 75em) {
  .most-play-btn {
    text-align: center;
    transform: translate(-50%, 30%);
    bottom: 0%;
    left: 50%;
  }
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-bottom-1 {
  margin-bottom: 5rem;
}

.section-categories {
  padding: 0 2rem;
  margin-bottom: 10rem;
}

.categories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: var(--color--white);
  gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 40.63em) {
  .categories {
    grid-template-columns: repeat(1, 1fr);
  }
}

.categories-box {
  background-color: var(--color--blue--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border--redius);
  cursor: pointer;
}

.categories-box p {
  font-size: 1.5rem;
  padding: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}

.categories-box img {
  width: 100%;
  border-radius: var(--border--redius);
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 100vh;
  margin-top: 8rem;
}
@media only screen and (max-width: 62.5em) {
  .cta {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 3rem;
  }
}

.cta::after {
  content: "";
  width: 70%;
  height: 80%;
  top: 50%;
  border-radius: var(--border--redius);
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(/assets/images/cta-bg.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  background-size: cover;
}
@media only screen and (max-width: 62.5em) {
  .cta::after {
    display: none;
  }
}

.cta__left {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding: 8rem;
  max-width: 40rem;
  justify-content: center;
  align-items: flex-start;
  border-radius: var(--border--redius);
}
@media only screen and (max-width: 62.5em) {
  .cta__left {
    max-width: 60rem;
    padding: 4rem;
  }
}

.cta__right {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding: 4.5rem;
  max-width: 40rem;
  justify-content: center;
  align-items: flex-start;
  border-radius: var(--border--redius);
}
@media only screen and (max-width: 62.5em) {
  .cta__right {
    max-width: 60rem;
    padding: 4rem;
  }
}

.shop__heading span {
  color: var(--color--blue--dark);
}

.cta-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4a4a4a;
  margin: 5rem 0;
}

.cta-btn {
  padding: 1.5rem 2.5rem;
  border: none;
  outline: none;
  background-color: var(--color--orange--dark);
  border-radius: var(--border--redius);
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--color--white);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.cta-btn:hover {
  background-color: var(--color--blue--dark);
}

.cta-form {
  display: flex;
  justify-content: space-between;
  border-radius: var(--border--redius);
  background-color: var(--color--white);
  margin-top: 3rem;
}

.cta-form input {
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: var(--border--redius);
  width: 50%;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.section-footer {
  margin-top: 5rem;
  background-image: url(/assets/images/footer-bg.jpg);
  color: var(--color--white);
  font-weight: 500;
  padding-bottom: 10rem;
  border-top-left-radius: 15rem;
  border-top-right-radius: 15rem;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 56.25em) {
  .section-footer {
    margin: 0;
  }
}

.footer-text {
  font-size: 1.6rem;
  padding: 3rem;
  text-align: center;
  padding-top: 5rem;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--color--blue);
  z-index: 111;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 2rem 0 rgba(var(--color--blue), 0.8);
}

.mobile__nav-btn {
  display: none;
  cursor: pointer;
  color: #fff;
  z-index: 1222;
  border-radius: 1rem;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 56.25em) {
  .mobile__nav-btn {
    display: block;
  }
}

.mobile__nav-icon {
  height: 4.5rem;
  width: 4.5rem;
}

.mobile__nav-icon[name=close-outline] {
  display: none;
}

@media only screen and (max-width: 56.25em) {
  .navigation {
    height: 40vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-100%);
    justify-content: center;
    align-items: center;
    background-color: var(--color--blue);
    z-index: 12;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 56.25em) {
  .nav .mobile__nav-btn .mobile__nav-icon[name=close-outline] {
    display: block;
  }
  .nav .mobile__nav-btn .mobile__nav-icon[name=menu-outline] {
    display: none;
  }
  .nav .navigation {
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
